/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.devicons {
  font-size: 4em;
  color: #000;
  margin: 0 .25em;
}

.devicons-html5 {
  color: #E34C26;
}

.devicons-css3 {
  color: #0b73b8;
}

.devicons-bootstrap {
  color: #401F7C;
}

.devicons-javascript {
  background: #f0db4f;
}

.devicons-jquery {
  color: #0769AD;
}

.devicons-git {
  color: #ee513b;
}

body {
  padding-bottom: 40px;
}
.divider {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.app-block {
  flex-flow: row wrap;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */
.intro-background {
    padding-top: 80px;
    background: url('') no-repeat center center fixed;
    background-size: cover;
}
.intro-message{
  position: relative;
  text-align: center;
  
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.content {
  width: 80vw;
  max-width: 45em;
  padding: 1.5em 2em;
  background: rgba(255, 255, 255, .75);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
}
.about {
    padding-top: 10px;
    height: 30em; 

}
.card {
  background: url('/grey-background.jpg') no-repeat center fixed;
  position: relative;
  padding: 25vh 15px 25vh 2px;
  min-height: 100%;
  max-width: 100vw;
  transform-style: inherit;
  background-size: cover;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80x 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
